$danger-color: #843534;
$gray-color: #555;

.error-massage {
  padding: 0;
  margin-bottom: 0;
  border: 1px solid transparent;
  border-radius: 4px;
  color: $danger-color;
}

.form-control-show {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: $gray-color;
}

.main_container {
  .left_col, .right_col {
    height: 100%;
  }
}

